{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/find.css'%}">

    <!-- MAIN -->
    <main>
            <div class="container">
                <div class="card border-0 shadow my-5">
                    <hr class="hr-light">
                    <img src="{% static 'main/img/create.png' %}" class="card-img-top mx-auto d-block" style="width: 40%;" alt="ThisorThat">
                    <hr class="hr-light">

                </div>
              </div>
        </main>

{% endblock %}
