{% extends "main/base.html"  %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/profile.css'%}">
    <main>
      <div class="container">
        <section id="about" class="about">
          <div class="card border-0 shadow my-5">
            <img src="{% static 'main/img/create.png' %}" class="card-img-top mx-auto d-block" style="width: 40%;" alt="ThisorThat">
            <hr class="hr-light">
            <form method="POST" class="form-group" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
              {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-outline-success" type="submit" name="button">Create</button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
{% endblock content %}
