<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>This or that</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/navbar.css">

    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body style="background-image: url('img/fundo.jpg')">
    <header>
        <!-- NAVBAR -->
        <div class="inicio">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a href="homepage.html" class="navbar-brand">
                    <img src="img/Logo.png" class="logo" alt="ThisorThat">
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="homepage.html" class="nav-item nav-link active">Home</a>
                        <a href="play.html" class="nav-item nav-link">Oficial Games</a>
                        <a href="find.html" class="nav-item nav-link">Find People !</a>
                        <a href="scoreboards.html" class="nav-item nav-link">Scoreboards</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a href="login.html" class="nav-item nav-link">Login</a>
                        <a href="register.html" class="nav-item nav-link">Register</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
        
    <!-- MAIN -->
    <main>                
        <div class="container">
            <section id="about" class="about">
                <div class="card border-0 shadow my-5">
                        <h1>Profile</h1>
                        <hr class="hr-light">
                        <div class="user-profile">
                            <img src="img/professorgeleia.jpg">
                            <div class="user-details">
                              <h2>Rodrigo Esteves</h2>
                              <p>We ride together, we die together</p>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="count-box">
                                        <i class="fa fa-gamepad"></i>
                                        <span data-toggle="counter-up">232</span>
                                        <p>Games played</p>
                                    </div>
                                </div>
                          
                                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                                    <div class="count-box">
                                        <i class="fa fa-star"></i>
                                        <span data-toggle="counter-up">56000</span>
                                        <p>Max Score</p>
                                    </div>
                                </div>
                          
                                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                                    <div class="count-box">
                                        <i class="fa fa-puzzle-piece"></i>
                                        <span data-toggle="counter-up">3</span>
                                        <p>Created Games</p>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                                    <div class="count-box">
                                        <i class="fa fa-puzzle-piece"></i>
                                        <span data-toggle="counter-up">3</span>
                                        <p>Created Games</p>
                                    </div>
                                </div>
                          
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-2">
                                        <a href="" class="btn">Photos Gallery</a>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                                        <a href="" class="btn">Create Games</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </main>

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>