* {
    box-sizing: border-box;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
}

.inicio{
    background-color: #1f283d;
}

.logo {
    height: 60px;
}

