{% extends "main/base.html" %}
{% block content %}
{% load static %}
    <!-- MAIN -->
    <main>
            <div class="container">
                <div class="card border-0 shadow my-5">
                    <hr class="hr-light">
                    <div class="alert alert-info">
                      Your password has been set.
                    </div>
                    <a href="{% url 'login' %}">Sign In Here</a>

                </div>
              </div>
        </main>

{% endblock %}
